@font-face {
    font-family: "IM Fell English Pro";
    src: url('../fonts/im-fell-english-pro.otf');
}

@font-face {
    font-family: "Immortal";
    src: url('../fonts/immortal.ttf');
}

@font-face {
    font-family: "Kirsty";
    src: url('../fonts/Kirsty.ttf');
}