@font-face {
    font-family: "IM Fell English Pro";
    src: url('../fonts/im-fell-english-pro.otf');
}

@font-face {
    font-family: "Immortal";
    src: url('../fonts/immortal.ttf');
}

@font-face {
    font-family: "Kirsty";
    src: url('../fonts/Kirsty.ttf');
}

@font-face {
    font-family: "Almendra";
    src: url('../fonts/Almendra-Regular.ttf');
}

@font-face {
    font-family: "Awery";
    src: url('../fonts/AwerySmallcaps.ttf');
}


@font-face {
    font-family: "Girassol-Regular";
    src: url('../fonts/Girassol-Regular.ttf');
}