/* Wyrównanie nagłówka kolumny "Obr." */
.actor.sheet .inventory h3.item-name + .damage-col-header {
    flex: 0 0 55px;
    text-align: center;
    font-weight: normal;
}

/* Kontener kolumny */
.actor.sheet .inventory ul.items > li > .data h4:has(span.dmg-value) {
    flex: 0 0 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* Bazowy wygląd wartości obrażeń */
.actor.sheet .inventory ul.items > li > .data h4 span.dmg-value {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    border-radius: 3px;
    padding: 0 4px;
    font-weight: bold;
    font-size: var(--font-size-12);
}

/* --- Kolory z PF2e src/styles/_colors.scss --- */

.damage.color.vitality { text-shadow: 0px 0px 3px var(--color-shadow-dark);}
.damage.color.bludgeoning,
.damage.color.piercing,
.damage.color.slashing {
  color: var(--color-text-dark-primary);
}
